{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select mb-3 center" aria-label="Default select example" name="symbol">
            <option selected>Select Stock</option>
            {% for name in names %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}